.create-edit-vdbe-form {
  display: flex;
  flex-direction: column;
}

.create-edit-vdbe-form h2 {
  margin-bottom: 20px;
}

.cev-form-body {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-between;
}

.cev-form-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 600px;
  flex: 2;
}

.cev-form-fields .cev-field {
  margin: 0 0 15px 0;
}

.cev-preview {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  position: relative;
}

.cev-preview h2 {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;
  transform: rotate(90deg) translate(calc(100% + 20px), -10px);
  color: #ababab;
  font-size: 1.75em;
}

.cev-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.cev-buttons button {
  margin-left: 20px;
}
