.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: stretch;
}

.header-inner {
  max-width: 2000px;
  flex-grow: 1;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.header-logo {
  display: flex;
  align-items: center;
  align-content: center;
}

.header-logo-img {
  margin-top: 10px;
  margin-right: 15px;
}

.header-logo-txt {
  font-size: 2.5em;
  font-weight: 500;
}

.header-status {
  display: flex;
  align-items: center;
}

.header-status-text {
  font-size: 1em;
}

.header-status-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: -2px 15px 0 0;
  background-color: #51a965;
  box-shadow: 0 0 5px #51a965;
}
