.physdb-view {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.physdb-view-prov {
  margin: 0 0 15px 0;
  font-size: 1.2em;
  font-weight: 600;
  height: 30px;
}

.physdb-view.dim .db-cylinder,
.physdb-view.dim .physdb-view-prov {
  opacity: 0.3;
}
