.db-table-view {
  min-width: 170px;
  min-height: 35px;
  background-color: #ededed;
  text-align: center;
  line-height: 35px;
  font-size: 1.1em;
  border-radius: 3px;
  margin: 8px 0;
  position: relative;
}

.db-table-view-writer {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #000;
  position: absolute;
  right: -8px;
  top: -8px;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  line-height: 29px;
}

.db-table-view-writer.blue {
  background: #386fc7;
}
