.vdbe-view {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: opacity 0.3s;
}

.dim .vdbe-view {
  opacity: 0.5;
}

.vdbe-view-props {
  margin: 0 0 15px 0;
}

.vdbe-view-props ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: 1.2em;
}

.vdbe-db-wrap {
  position: relative;
}

.vdbe-edit-controls {
  position: absolute;
  top: 0;
  right: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.vdbe-edit-button {
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}

.vdbe-edit-button:hover {
  opacity: 1;
}

.vdbe-view:hover .vdbe-edit-controls {
  opacity: 1;
}

.vdbe-endpoint {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  margin: 0 0 15px 0;
  cursor: pointer;
  color: #1d8033;
  transition: all 0.2s ease-in-out;

  background-color: #f6fdf7;
  border-radius: 20px;
  padding: 3px 8px;
}

.vdbe-endpoint:hover {
  color: #51a965;
}
