.vdbe-view {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vdbe-view-props {
  margin: 0 0 15px 0;
}

.vdbe-view-props ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: 1.2em;
}
