html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-inner {
  max-width: 2000px;
  margin: 0 auto;
}

.body-container {
  max-width: 2000px;
  margin-top: 120px;
  flex-grow: 1;

  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.column {
  flex-basis: calc(50% - 15px);
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.column-inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.panel {
  flex-grow: 1;
  background-color: #fff;
  padding: 30px;
  margin: 20px 0;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive layout */
@media only screen and (max-width: 768px) {
  .body-container {
    flex-direction: column;
    margin-top: 120px;
  }
  .left-column,
  .right-column {
    width: 100%;
    padding: 0;
  }
}
